.top-container {
  width: 100%;
  height: 100vh; /* Use 100vh to ensure full viewport height */
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.top-container .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.top-container .image-overlay img {
  width: 100%;
  max-width: 100vw; /* Set the maximum width to 100vw */
  height: 100vh;
  object-fit: cover;
}
.content {
  padding: 20px;
  background-color: white;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(204, 204, 204, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.logo img {
  width: 56px;
  height: 56px;
  border-radius: 8px;
}

.text .title {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  color: rgba(35.06, 34.77, 34.84, 1);
}

.text .description {
  width: 374px;
  max-width: 100%;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: rgba(35.06, 34.77, 34.84, 1);
}
