.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.yellow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 38.63px;
  padding: 0 2rem;
  background: #ffc43a !important;
  border-radius: 4px;
}
.signupPay-para {
  width: 110px;
  height: 22px;
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  margin-bottom: 10px;
}

.payment-icon-container {
  background: grey;
  padding: 4px;
  border-radius: 50%;
}

.payment-icon-container img {
  width: 16px;
  height: 16px;
}

.input-fields-container {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.total-payment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hr-lines {
  position: relative;
  max-width: 500px;
  text-align: center;
}

.hr-lines:before {
  content: '';
  display: block;
  height: 2px;
  width: 42%;
  position: absolute;
  top: 50%;
  left: 0;
  background: #d7d7d7;
}

.hr-lines:after {
  content: '';
  height: 2px;
  width: 42%;
  background: #d7d7d7;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}

.form-group .input-fields-container{
  display: flex;
flex-direction: row;
align-items: flex-start;
width: 392px;
height: 78px;
order: 2;
}
.expiry-date-input,
.cvv-input {
  width: calc(50% - 5px) !important;
}
