* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.rounded-button.active {
  background-color: orange !important; 
  border-radius: 50% !important;
}
.rounded-button:not(.active) {
  border-radius: 50% !important;
}
.register-photo {
  overflow: hidden;
  position: relative; /* Add this line */
}
/* MAIN CONTAINER FOR BOTH EZRA AND CONTACT US BTN */
  .alignbtn-ezra{
    display: flex;
    justify-content: space-between;
  }
  /* CONTACT US BTN */
  .register-photo .image-holder .ezra-btn {
    position: absolute;
    width: 106px;
    height: 36px;
    right: 20px;
    top: 20px; /* Update to desired position */
    z-index: 1;
    color: black;
    font-size: 18px;
    background: #F8F9FA;
    border: 1px solid #F8F9FA;
    border-radius: 4px;
}
/* EZRA LOGO HY */
.register-photo .image-holder .ezra-logo {
    position: absolute;
    width: 104px;
    height: 29px;
    left: 20px; /* Update to desired position */
    top: 20px; /* Update to desired position */
    z-index: 1;
}

.register-photo .image-holder .sliderimg {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
  
.register-photo .image-holder {
  position: relative;
  display: table-cell;
  width: 46.2%;
  height: 100vh; /* Update to 100vh */
}
@media (max-width: 767px) {
  .register-photo .form-container {
      display: flex;
      flex-direction: column; /* Add this line */
  }
}
  @media (max-width: 768px) {
    .register-photo .form-container .image-holder{
      display: none;
    }
    .register-photo .form-container .right-container {
      display: flex;
      width: 100% !important;
      height: 100%;
      margin: 0 auto;
      box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
      align-items: center;
    }
    .register-photo .form-container .already{
    position: absolute;
    bottom: 60px;
    left: 0px;
    right: 10px;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
    }
    .form-group {
      margin: 10px 0px;
    }
    .main-form{
      text-align: start !important;
    }
  }
  @media (min-width: 768px) and (max-width: 900px) {
    .register-photo .right-container {
      height: 100%;
      width: 80% !important;
      display: flex;
      justify-content: center;
    }
    .register-photo .main-form {
    padding: 20px 16px 0px 16px !important;
    margin: 250px 110px 150px 110px !important;
    }
    .register-photo .image-holder {
      width: 50% !important;
  }
  }

  @media (min-width: 901px) and (max-width: 1150px) {
    .register-photo .right-container {
      height: 100%;
      width: 100% !important;
      display: flex;
      justify-content: center;
    }
    .register-photo .main-form {
      width: 50% !important;
    padding: 20px 16px 0px 16px !important;
    margin: 250px 100px 150px 100px !important;
    }
  }
  @media (min-width: 768px) and (max-width: 1200px){
    .register-photo .form-container {
      display: flex;
      width: 100% !important;
      height: 100%;
      margin: 0 auto;
      box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
      align-items: center;
  }
  .register-photo .image-holder {
    width: 50% !important;
}
  }
  @media (min-width: 1200px) and (max-width: 1500px){
    .register-photo .form-container {
      display: flex;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
      align-items: center;
  }
  }
  @media (min-width: 1501px) and (max-width: 2200px){
    .register-photo .form-container {
      display: flex;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  }
  }
  .register-photo .form-container {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    align-items: center; /* Add this line */
}
  .register-photo .main-form {
    position: relative;
    display:table-cell;
    width:60%;
    background-color:#ffffff;
    padding: 20px 16px 0px 16px;
    color:#505e6c;
    margin: 250px 165px 150px 170px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2), 0px 1px 11px rgba(0, 0, 0, 0.2)
  }
  .right-container{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;

  }
  
  @media (min-width:650px) and (max-width:768px) {
    .register-photo .main-form {
      padding:40px;
      margin: 0 auto;
      text-align: center;
      justify-content: center;
      width: 70%;
    }
  }
  
  @media (min-width:450px) and (max-width:649px) {
    .register-photo .main-form {
      padding:40px;
      margin: 0 auto;
      text-align: center;
      justify-content: center;
      width: 80% !important;
    }
  }
  
  @media (max-width:449px) {
    .register-photo .main-form {
      padding:40px;
      margin: 0 auto;
      text-align: center;
      justify-content: center;
      width: 100%;
    }
  }
  .register-photo .main-form h2 {
    font-size: 36px;
    line-height: 48.6px;
    margin-bottom: 30px;
    font-weight: 700;
    text-align: center;
    font-family: "Satoshi", sans-serif;
    color: #393939;
}
.login-para{
  font-family: "Satoshi", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.6px;
    text-align: center;
    padding: 0px;
height: 22px;
}
  /* label */
  .login-label{
  font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
}
/* input fields ky darmeyan margin */
.form-group{
  margin: 15px 0px;
}
  /* Input */
  .register-photo .main-form .form-control {
    background: #FFFFFF;
    border: 1px solid #393939;
    border-radius: 4.8px;
    box-shadow: none;
    color: inherit;
    text-indent: 8px;
    height: 40px;
    width: 100%;
    margin: 6px 0;
  }
  
  .register-photo .main-form .form-check {
    font-size:13px;
    line-height:20px;
  }
  /* BUTTON */
  .register-photo .main-form .btn-primary {
    background: #FF5A5F;
    border: 1px solid #FF5A5F;
    border-radius: 10px;
    width: 100%;
    padding:11px;
    box-shadow:none;
    text-shadow:none;
    outline:none !important;
    color: #ffffff;
  }
  
  .register-photo .main-form .btn-primary:hover, .register-photo .main-form .btn-primary:active {
    background:#eb3b60;
  }
  
  .register-photo .main-form .btn-primary:active {
    transform:translateY(1px);
  }
  
  .already {
    position: absolute;
    bottom: 60px;
    left: 50%;
    right: 100px;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
  }

  /* EYE KE STYLINGs */
  .password-input-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  @media (max-width: 767px) {
    .password-input-wrapper {
      display: block;
    }
  
    .password-toggle {
      top: 50%;
      right: 10px;
    }
  }
  